<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
        <a href ="/">Home</a>
		<h1>私たちについて</h1>
        <ul>
            <li><a href="/posts/post-1">dddd</a></li>
        </ul>
	</body>
</html>
